/* CSS Document */
body {
	font-family:Helvetica, sans-serif;
	font-size: 14px;
	background:url(../images/li12.jpg) no-repeat;
	width:100%;  
    height:100%;  
    background-size:100%;  
    	
}

#loginbox {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
     height: 196px;
	background: #ffffff;
    box-shadow: 0 0 4px #000000;
    border-radius: 7px;
    overflow: hidden !important;
    text-align: center;
    position: relative; 
}
#loginbox form{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#loginbox p {
    margin-top: 20px;
    padding: 0 20px;
}

#loginbox .form-actions {
	padding: 14px 20px 15px;
}
#loginbox .form-actions .pull-left {
	margin-top: 2px;
}

#loginbox form#loginform {
	z-index: 200;
}

#loginbox form#recoverform {
	z-index: 100;
	opacity: 0;
    display:none;
}

#loginbox form#recoverform .form-actions {
    margin-top: 27px;
}

#loginbox form#recoverform .control-group {
	margin: 23px 0;
}
/* 头部 */
.main .top {
	width: 100%;
	height: 50px;
	text-align: center;	
	font-size:50px;
	color:blue;
	letter-spacing: 16px;
}

/* 登录主体 */
.main {
	height: 524px;
	padding-top: 50px;
	 
}
.main .denglu {
	width: 100%;
	height: 524px;
	
	margin: 0 auto;
	position: relative;
}
.main .denglu .text {
	width: 450px;
	position: absolute;
	left: 260px;
	top: 155px;
	line-height: 26px;
}
.main .denglu .dlk {
	width: 354px;
	height: 328px;
	background: url(../images/tp03_20140320.png) no-repeat;	
	background-image: url(../images/tp03_20140320.png);
	color: #999;
	margin:auto;
    position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    left:50%;            
    top:50%;            
    margin-left: -177px;            
    margin-top:-214px;         
}
.main .denglu .dlk a.mm {
	color: #000;
	font-size: 12px;
}
.main .denglu .dlk a.mm:hover {
	color: #C00;
}
.main .denglu .dlk a.zc {
	color: #F60;
}
.main .denglu .dlk a.zc:hover {
	color: #C00;
}

/* 登录底部 */
.footer {
	
	font-size: 15px;
	color:#000000;
	position:absolute;
	bottom:0px;	
	right: 0px;	
}
.foot_p{
	 position:absolute;/*设定水平和垂直偏移父元素的50%，再根据实际长度将子元素上左挪回一半大小*/
    left:50%;            
    top:50%;            
      
}

	


/* button,input */
.dlinput {
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	width: 222px;
	height: 34px;
	line-height: 34px;
	text-indent: 2px;
	font-size: 14px;
	
}
.loginbtn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url(../images/tp06_20140320.png) no-repeat;
	border: none 0;
	width: 224px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #FFF;
	padding: 0;
	margin: 0;
}
.loginbtn:hover, .loginbtn:focus {
	background: url(../images/tp07_20140320.png) no-repeat;
}
.loginbtn:active {
	color: #ccc;
}